.row-fluid.pbl
	.span12.s28.green.italic.text-bottom.center.ptm= @foo
.row-fluid.pbl
	.span3
	.span3.s28.green.italic.text-bottom.right.ptm Everyone can 
	.span4= link_to "Signin with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-large btn-success"
.row-fluid.pbl
	.span3
	.span3.s28.green.italic.text-bottom.right.ptm OR  
	.span4= link_to "Signin with Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-large btn-success"

