<% flash.each do |name, msg| %>
  <div class="alert alert-#{name == :notice ? 'success' : 'error'}">
  <a class='close' data-dismiss='alert'>
    x
    <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  </a>
  </div>
<% end %>
